@font-face {
    font-family: $fuente-jolly;
    src: url($ruta-fuente-jolly);
  }
    
/* fuente (revisar responsive) */
body {
    font-family: $fuente-jolly;
    src: url($ruta-fuente-jolly);
    color: map-get($mapa-colores, color-texto-body);    
  }
  