   /* color de fondo */
   .colorBg {
     background-color: map-get($mapa-colores, color-fondo);
   }

   /* para ajustar la distancia de abajo de una imagen */
   .imgAjust {
     padding-bottom: 15px;
   }

   /* prueba imagen de fondo con gradientes */
   .imgFondo {
     background-image: linear-gradient(to right bottom, #d18700, #cd8600, #c88500, #c48400, #c08300, #b67311, #aa631b, #9c5520, #7b3b26, #552624, #2e171a, #000000);
   }

   /* prueba colores botones formulario */
   .btn-orange {
     background-color: #ff7518;
     /* código de color para naranja */
     color: #fff;
     /* texto en blanco */
   }

   /* animación logo bruja */
   .animLogo {
     transition: transform 0.5s;
   }

   .animLogo:hover {
     transform: rotate(360deg);
   }
   
   /* arreglo para bug de desborde en animaciones aos */
   .overflowfix{
    overflow: hidden;
   }