/* para agrupar variables afines */
$mapa-colores: (
    color-fondo: black,
    color-texto: white,
    color-texto-body: black,
);

/* variables de fuentes */
$fuente-poppins: 'PoppinsItalic';
$ruta-fuente-poppins: '../assets/fonts/Poppins-LightItalic.ttf';

/* variables de espaciado */
$espaciado-enlace: 1em;
$espaciado-nav-item: 1em;