/* Variables de colores */
$color-fondo: black;
$color-texto: white;
$color-texto-body: black;


/* Variables de fuentes */
$fuente-poppins: 'PoppinsItalic';
$ruta-fuente-poppins: '../assets/fonts/Poppins-LightItalic.ttf';

/* Variables de espaciado */
$espaciado-enlace: 1em;
$espaciado-nav-item: 1em;