/* para agrupar variables afines */
$mapa-colores: (
    color-fondo: black,
    color-texto: white,
    color-texto-body: black,
);

/* variables de fuentes */
$fuente-jolly: 'JollyLodgerRegular';
$ruta-fuente-jolly: '../assets/fonts/JollyLodger-Regular.ttf';

/* variables de espaciado */
$espaciado-enlace: 1em;
$espaciado-nav-item: 1em;